/* CASEIN CUSTOM */
/* Use this file for your project-specific Casein CSS */

@import "codemirror";
@import "summernote";

.navbar-brand>img, .brand>img {
    width: 210px;
    height: 45px;
}

td.action {
    width: 30px;
}

td .table-spacer {
    padding-left: 2em;
}